<!-- <section id="hero" class="d-flex flex-column justify-content-center" [ngStyle]="{'background': 'url(' + _hero.hero.heroImg + ') top right'}"> -->
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>{{ _hero.hero['nombre'] }}</h1>
    <p *ngIf="_about.about['titulo']"><span>{{ _about.about['titulo'] }}</span></p>
    <div class="social-l">
      <a *ngIf="_social.social['twitter']" href="{{ _social.social['twitter'] }}" class="twitter"><fa-icon [icon]="twitter" ></fa-icon></a>
      <a *ngIf="_social.social['facebook']" href="{{ _social.social['facebook'] }}" class="facebook"><fa-icon [icon]="facebook"></fa-icon></a>
      <a *ngIf="_social.social['instagram']" href="{{ _social.social['instagram'] }}" class="instagram"><fa-icon [icon]="instagram"></fa-icon></a>
      <!-- <a *ngIf="_social.social['skype']" href="{{ _social.social['skype'] }}" class="skype"><fa-icon [icon]="skype"></fa-icon></a> -->
      <a *ngIf="_social.social['linkedin']" href="{{ _social.social['linkedin'] }}" class="linkedin"><fa-icon [icon]="linkedin"></fa-icon></a>

    </div>
  </div>
</section>
