  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Edier A. Villaneda</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-l">
        <a *ngIf="_social.social['twitter']" href="{{ _social.social['twitter'] }}" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a *ngIf="_social.social['facebook']" href="{{ _social.social['facebook'] }}" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a *ngIf="_social.social['instagram']" href="{{ _social.social['instagram'] }}" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a *ngIf="_social.social['skype']" href="{{ _social.social['skype'] }}" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <a *ngIf="_social.social['linkedin']" href="{{ _social.social['linkedin'] }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
